.side-container {
    position: relative;
    width: 15%;
}

.history-item {
    color: aliceblue;
    display: none; /* Hide history items by default */
}

.side-open .history-item {
    display: block; /* Show history items when sidebar is open */
}

.side {
    width: 50px;
    transition: width 0.5s;
    background-color: #242424;
    position: absolute;
    height: 100vh;
    margin-top: 11px;
    margin-left: 10px;
    height: 97vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-open {
    width: 200px;
}

.side-closed {
    width: 50px;
}

.add_icon_div {
    display: block;
}

.fixed-icons {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hamburger {
    cursor: pointer;
    margin-bottom: 20px;
}

.userimage, .setting_image {
    display: block;
    margin: 5px auto;
}
.mobile-sidebar-toggle{
display: none;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .side {
        display: none; /* Hide sidebar by default */
    }

    .side-open {
        display: block; /* Show sidebar when open */
        z-index: 10;
        transition: width 0.9s;
    }

    .mobile-sidebar-toggle {
        display: block; /* Show toggle button */
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

}