.side-container {
    position: relative;
    width: 15%;
}

.side {
    /* border: 2px solid red; */
    width: 50px; 
    transition: width 0.5s;
    background-color: #242424;
    position: absolute;
    height: 100vh;
    margin-top: 11px;
    margin-left: 10px;
    height: 97vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.side-open {
    width: 200px; 
}

.side-closed {
    width: 50px; 
}

.add_icon_div {
    display: block;
}

.fixed-icons {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hamburger {
    cursor: pointer;
    margin-bottom: 20px;
}

.userimage, .setting_image {
    display: block;
    margin: 5px auto;
}
